EspTouchDemo.xcodeproj/project.xcworkspace/xcuserdata/afunx.xcuserdatad/UserInterfaceState.xcuserstate
EspTouchDemo.xcodeproj/project.xcworkspace/xcshareddata/EspTouchDemo.xccheckout
EspTouchDemo.xcodeproj/project.xcworkspace/xcuserdata/jakey.xcuserdatad
EspTouchDemo.xcodeproj/xcuserdata/jakey.xcuserdatad/xcdebugger
EspTouchDemo.xcodeproj/xcuserdata/jakey.xcuserdatad/xcschemes
